@media (min-width: 0) { 
    .carousel-caption {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .carousel-caption h5 {
        font-size: 31px;
    line-height: 36px;
    }
    .carousel-caption p {
        font-size: 16px;
        line-height: 20px;
    }
    .section_title {
        width: 100%;
        
    }
    .section_title h1 {
        font-size: 34px;
    line-height: 36px;
        
    }
    .section_title p {
        font-size: 18px;
        padding: 5px;
        line-height: 28px;
    }
    .course_thumbnail img {
        width: 100%;
    }
    .course {
       
        display: flex;
        flex-direction: column;
    }
    .elearning_info {
        padding: 10px 8px;
        width: 100%;
    }
    .elearning_content {
       
    }
    .elearning_content h1 {
        font-size: 34px;
        line-height: 43px;
        text-align: center;
        padding: 36px 0px 10px 0px;
    }
    .elearning_content p {
        text-align: center;
        font-size: 16px;
        line-height: 25px;
    }
    .success_view_item h1 {
        font-size: 22px;
        font-weight: 800;
        padding: 10px 0px;
        margin: 0px;
    }
    .success_view_item span {
        font-size: 16px;
        line-height: 18px;
    }
    .success_view_item {
        text-align: center;
    }
    .elearning_btn{
        text-align: center;
    }
    
    .ready_section {
        padding: 36px 15px;
        text-align: center;
        flex-direction: column;
    }
    .ready_title{
        width: 100%;
    }
    .ready_title h1 {
        font-size: 38px;
        line-height: 45px;
    }
    .ready_title p{
        padding: 10px 0px;
    }
    .ready_section a {
        padding: 1rem 1rem;
    }
    .success_content{
        text-align: center;
    }
    .feedback {
        width: 100%;
        margin: 15px 0px;
    }
    .footer_content p{

    }
    .footer_content h1 {
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 10px;
    }
    .footer_content p {
        padding: 6px 0px;
    }
    .footer_content span {
        padding: 6px 0px;
    }
    .student {
        margin: 6px 0px;
    }
}
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 
    .carousel-item {
        height: 25rem;
       
    }
    .carousel-item img {
        height: 100%;
        
        }
        .carousel-caption {
            width: 70%;
            position: absolute;
            line-height: 26px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    
    .carousel-caption h5 {
        font-size: 50px;
        line-height: 52px;
        text-align: center;
        color: white;
    }
    .carousel-caption p {
        font-size: 18px;
        line-height: 21px;
        color: #ffffffc7;
        text-align: center;
    }
    .section_title {
        width: 100%;
        
        padding: 0px 0px 25px;
    }
    .section_title h1 {
        font-size: var(--b_sec_title);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        color: var(--b_sectitle_color);
        font-size: 20px;
        line-height: 30px;
        text-align: center;


    }
    .section_title p {
        
        line-height: 30px;
        text-align: center;
        color: var(--b_paragraph_color);
        font-size: 14px;
        line-height: 21px;
}
.course_thumbnail img {
    width: 100%;
}
.course_details h5 {
    font-size: 16px;
    line-height: 24px;
    
}
.course_details p {
    font-size: 14px;
    line-height: 21px;
    
}
.course_details span {
    font-size: 23px;
    line-height: 30px;
    
}
.ready_title{
    width: 100%!important;
}
.ready_title h1 {
    text-align: center;
    font-size: 20px;
    line-height: 27x;
    
}
.ready_title p {
    
    font-size: 14px;
    line-height: 24px;
    
}
.ready_section a {
    
    font-size: 16px;
    
    font-weight: 600;
    line-height: 24px;
}
.student {
    width: 100%;
}
}
    
        
   


/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .elearning_info {
        
        width: 50%;
    } 
    .success_view {
        display: flex;
        justify-content: space-around;
    }
    .carousel-item {
        height: 50rem;
       
    }
    .carousel-caption {
        width: 80%;
      
    }
    
    .carousel-caption h5 {
        font-size: 50px;
        line-height: 53px;
    }

    .success_view_item h1 {
        font-size: 26px;
        line-height: 22px;
       
        
    }
    .success_view_item span {
        font-size: 16px;
        line-height: 22px;
       
        
    }
    .ready_title h1 {
        
        font-size: 38px;
        
    }
    .ready_title p {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }
    .feedback {
        width: 50%;
        margin: 15px 0px;
    }
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel-caption {
        width: 50%;
      
    } 
    .carousel-caption h5 {
        font-size: 60px;
        line-height: 62px;
    }
    .carousel-caption p {
        font-size: 18px;
        line-height: 24px;
    }
    .section_title{
        width: 50%!important;
        
    }
    .section_title h1{
        font-size: 45px;
        line-height: 50px;
    }
    .section_title p{
        font-size: 18px;
        line-height: 24px;
    }
    .ready_title {
    width: 50%!important;
    }
    .ready_title h1 {
        text-align: start;
       
    }
    .ready_title p {
        text-align: start;
       
    }
    .ready_section a {
        
    text-align: center;
    font-size: 22px;
}
}

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }