@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Merriweather&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Merriweather&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

    /* font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
}
:root{
    --bg_color:red;
    --b_text_color:#FFFFFF;
    --b_paragraph_color:#777777;
    --b_sectitle_color:#1D1D1D    ;
    --b_title_size:60px;
    --b_sec_title:45px;
    --b_paragraph_size:16px;
    --b_btn_bg_color:#289BDE;

}
/* common code */
.section_size {
    padding: 70px 0px 50px;
}
.section_title {
    width: 50%;
    margin: 0 auto;
    padding: 0px 0px 45px;
}
/* Button Style */
.more_course a {
    text-decoration: none;
    background-color: var(--b_btn_bg_color);
    padding: 15px 50px;
    color: var(--b_text_color);
    font-size: 18px;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0px 1px 4px 0px black;
    text-transform: uppercase;
}
.ready_section a {
    text-decoration: none;
    background-color: var(--b_text_color);
    padding: 1rem 2rem;
    color: var(--b_btn_bg_color);
    font-size: 18px;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0px 1px 4px 0px black;
    text-transform: uppercase;
    border-radius: 5px;
}
a.custon_btn {
    text-decoration: none;
    background-color: var(--b_btn_bg_color);
    padding: 12px 30px;
    color: var(--b_text_color);
    font-size: 18px;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0px 1px 4px 0px black;
}
/* content code */
section.outer_wrapper {
    background-color: #ffffff00;
}

.carousel-item {
    height: 36rem;
    overflow: hidden;
    width: 100%;
    }
    .carousel-item img {
    width: 100%;
    }






/* course */
.course {
    background-color: whitesmoke;
    border-radius: 10px;
}


.section_title h1 {
    font-size: var(--b_sec_title);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;

    line-height: 60px;
/* or 133% */

text-align: center;
    color: var(--b_sectitle_color);
}
.section_title p {
    font-size: var(--b_paragraph_size);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: var(--b_paragraph_size);
    line-height: 30px;
/* or 188% */

    text-align: center;

/* Dark 03 */

    color: var(--b_paragraph_color);
}
.course_details h5 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px;
/* identical to box height */


/* Dark 02 */

color: #4A4A4A;
}
.course_details p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: var(--b_paragraph_size);
line-height: 24px;

/* Dark 03 */

color: var(--b_paragraph_color);
}
.course_details span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #289BDE;
}
/* Readu to join */

/* .ready_title {
    width: 528px;
} */
.ready_title h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    /* identical to box height, or 133% */
    
    
    /* White Color */
    
    color: #FFFFFF;
}
.ready_title p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */


/* Dark 07 */

color: #F4F4F4;
}
/* comment */
.card_body_para p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */


/* Dark 03 */

color: #777777;
}
.profile img{
    width: 42px;
height: 42px;
}
.profile_title h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Dark 02 */
    
    color: #4A4A4A;
}
.profile_title span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    /* Dark 03 */
    
    color: #777777;
}
.icon_star{
    font-size: 2rem;
    color: #eac62a;
}
footer{
    height: 400px;
    
}
.footer_content{
    height: 70%;
}
.footer_content h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
/* identical to box height */


color: #FFFFFF;
}
.footer_content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    text-align: center;
    
    /* Dark 06 */
    
    color: #E8E8E8;
}
.footer_content span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 126%;
    /* identical to box height, or 19px */
    
    
    /* Dark 06 */
    
    color: #E8E8E8;
}
.social{
    color: #FFFFFF;
    font-size: 16px;
    
}
.social i {
    padding: 8px;
    background-color: #0e0d0d;
    border-radius: 50%;
    cursor: pointer;
}
/* elearning */
.elearning_info{
    background-color: #F4FAFD;
}
.elearning_content h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 60px;
/* or 133% */


/* Dark 01 */

color: #1D1D1D;
}
.elearning_content p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */


/* Dark 03 */

color: #777777;
}
.success_view_item h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    /* identical to box height, or 133% */
    
    text-align: center;
    
    /* Dark 01 */
    
    color: #1D1D1D;
}
.success_view_item span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */


/* Dark 03 */

color: #777777;
}
